@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap&family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";

:root {
  --gris-oscuro: #121420;
  --gris-claro: #4f4f4f;
  --azul-oscuro: #1e2a47;
  --azul-claro: #4c6eb1;
  --blanco: #e0e0e0;
  --gris-texto: #b0b0b0;
  --azul-acent: #3b5b89;
}

@font-face {
  font-family: "Orbitron";
  src: url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap")
    format("truetype");
  font-weight: 100 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-color: var(--azul-oscuro);
  font-size: 16px;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 80% 1fr;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

header {
  grid-area: header;
  padding: 20px;
  text-align: center;
  background: hsla(180, 15%, 48%, 1);

  background: linear-gradient(
    to bottom,
    hsla(204, 24%, 33%, 1) 05%,
    hsla(222, 41%, 20%, 1) 86%
  );

  background: -moz-linear-gradient(
    to bottom,
    hsla(204, 24%, 33%, 1) 46%,
    hsla(222, 41%, 20%, 1) 86%
  );

  background: -webkit-linear-gradient(
    to bottom,
    hsla(180, 15%, 48%, 1) 18%,
    hsla(204, 24%, 33%, 1) 46%,
    hsla(222, 41%, 20%, 1) 86%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#688e8e", endColorstr="#405868", GradientType=1 );
}

main {
  grid-area: main;
  background-color: var(--azul-oscuro);
  padding: 20px;
  display: grid;
  gap: 20px;
  place-content: center;
  height: auto;
}

footer {
  grid-area: footer;
  background-color: var(--gris-claro);
  padding: 20px;
  text-align: center;
}
